<!doctype html>
<html>
<script type="text/javascript" src="/javascripts/postLoad.js"></script>
<script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery-ui-1.10.4.custom.js"></script>
<link rel='stylesheet' href='/stylesheets/adminStyle.css' />
<title>
</title>
<head>
</head>
<body>
   <div id="log-inout">
		<div id="login_info">
	  		<input id='login_email' type="text" placeholder="Email"/>
			   <input id='login_secret_text' type='password' placeholder='Secret Text'/>            
            <input id='login_password' placeholder="Password " type="password"/>
            <button id='login_button'>Login</button>
    </div>
    <div id="logout_div">
    <button id="logout_button">logout</button>
    </div>
  </div>
  <div value="#{page_element}"></div>
</body>



<script type="text/javascript">

$(document).ready(function(){

// POSTing data

// function formUpload(){

// }



$('#logout_button').on('click', function(){
  $.get('/logging_out',function(){
    alert("going away");
  });
});

$('#login_button').on("click",function(){
var email_in_login = $('#login_email').val();
var password_in_login = $('#login_password').val();
var regrex_of_email = /^[A-Za-z0-9\.\^\-\_]{1,}[@]{1}((yahoo.com)||(gmail.com)||(hotmail.com))$/;
var login_secret_text = $("#login_secret_text").val();

alert("login button working");


// document.getElementById("btnPlaceOrder").disabled = true;


// 	if(email_in_login=="gagonweb@gmail.com"){
// 		if(password_in_login=="L3t Th3 4dm1n 1n"){
// 			if(login_secret_text=="Xcorner Works"){
          	
          $.get( "user_logging_in",function(data){
            $('body').append(data);
          });

          document.getElementById("login_button").disabled = true;
// 			}
// 		}
// 	}





//   $.ajax({
//               url:'/See_Exist_User_When_Login',
//               type:'POST',
//               data:{email_in_login:email_in_login,password_in_login:password_in_login},
//               success:function(res)
//               {
  //               if(res == "InCorrect")
  //               {
  //               alert("Email Not Exist");
  //               }
    //               else if(res == "InPass")
  //               {
  //               alert("Password Is InCorrect");
  //               }
//                 else
//                {

//                $('body').html(res); }
//               }
//            })
// }
// else
// {
// alert("In Correct Information");
// }


});

});
</script>        
</html>