<!doctype html>
<html>

<script type="text/javascript" src="/javascripts/postLoad.js"></script>
<script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>

<script type="text/javascript" src="/javascripts/jquery-ui-1.10.4.custom.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />

   
<title>
	Gags On Web
</title>
<head>
	<header id="pageHeader	">Gags On Web</header>
</head>

<!-- <body style="background: url('/images/Torres_and_Gerrard_W.jpg')">
 -->
<body >
<div id="postContainer">
	<br><br><br>
	<div id="post-000">
	<div class="post_heads">
		<span id="post-head-000">This is Post 000</span></div><br><br>
	<div id="post_img-0"><img src="/images/img-000.jpg"></div>

	<div class="latest_post_addon">
		<div id="like_section-1" class="like_section">
			likes : <div id="post_likes-1"></div>
		</div>
	<button id="share_button" >Share</button>
	<button >I Like It!</button>
	</div>
     <hr> <br>

	</div>
    
    <button id="tweet_button">tweet</button>

	<br><br><br><br>

	<div id="post-001">
	<div class="post_heads">
		<span id="post-head-001">This is Post 001</span></div><br><br>
	<div id="post_img-1">	<img src="/images/img-001.jpg"></div>
	<div class="latest_post_addon">
	<button id="share_button" >Share</button>
	<button >I Like It!</button>
	</div>
    
	<hr> <br>
	</div>
	<br><br><br><br>

	<div id="post-002">
	<div class="post_heads">
	<span id="post-head-002">This is Post 002</span></div><br><br>
	
	<div id="post_img-2">	<img src="/images/img-002.jpg"></div>
	<div class="latest_post_addon">
	<button id="share_button" >Share</button>
	<button >I Like It!</button>
	</div>
    
    <hr>		 <br>
	</div>
	<br><br><br><br>

	
	<div id="post-003">
	<div class="post_heads">
		<span id="post-head-003">This is Post 003</span></div><br><br>
	<div id="post_img-3">	<img src="/images/img-003.jpg"></div>
	
	<div class="latest_post_addon">
	<button id="share_button" >Share</button>
	<button >I Like It!</button>
	</div>
    
    <hr>		 <br>
	</div>
	<br><br><br><br>

	
	<div id="post-004">
	<div class="post_heads">
	<span id="post-head-004">This is Post 004</span></div><br><br>
	<div id="post_img-4">	<img src="/images/img-004.jpg"></div>
	<div class="latest_post_addon">
	<button id="share_button" >Share</button>
	<button >I Like It!</button>
	</div>
    
    <hr>	 <br>
	</div>
	<br><br>
	<div class="post_heads"></div>

<!-- 
	<div id="post-005">
		<span id="post-head-005">This is Post 005</span><br><br>
	<div id="post_img-5">	<img src="/images/img-005.jpg"></div>		
	</div>
     <input type="image" src="/images/ILikeIt.png" alt="Submit"><hr>
	<br><br><br><br>

	<div id="post-006">
		<span id="post-head-006">This is Post 006</span><br><br>
	<div id="post_img-6">	<img src="/images/img-006.jpg"></div>		
	</div>
     <input type="image" src="/images/ILikeIt.png" alt="Submit"><hr>
	<br><br><br><br>
	
	<div id="post-007">
		<span id="post-head-007">This is Post 007</span><br><br>
	<div id="post_img-7">	<img src="/images/img-007.jpg"></div>		
	</div>
     <input type="image" src="/images/ILikeIt.png" alt="Submit"><hr>
	<br><br><br><br>

	<div id="post-008">
		<span id="post-head-008">This is Post 008</span><br><br>
	<div id="post_img-8">	<img src="/images/img-008.jpg"></div>		
	</div>
     <input type="image" src="/images/ILikeIt.png" alt="Submit"><hr>
	<br><br><br><br>

	<div id="post-009">
		<span id="post-head-009">This is Post 009</span><br><br>
	<div id="post_img-9">	<img src="/images/img-009.jpg"></div>		
	</div>
     <input type="image" src="/images/ILikeIt.png" alt="Submit"><hr>
 -->

<div id="page_nav">
<button id="prev_page">Previous Page</button><button id="next_page">Next Page</button>
</div>
</div>


<br><br><br>
<!-- <div id="prominent_post" style="background: url('/images/side-back-edited.jpg')"> -->

<div id="prominent_post">

	<div class="post_heads_total">
	<span id="top3_post_head">TOP3 POSTS</span>	</div>
	<br>
	<div id="top3_post">
		<div id="top3_post-1">
			<span id="top3_post-head-000">This is Post 000</span><br>
		<div id="top3_post_img-0"></div>	<img src="/images/img-000.jpg">	<hr>	 <br>
		</div>
		<br><br>
		<div id="top3_post-2">
			<span id="top3_post-head-001">This is Post 000</span><br>
		<div id="top3_post_img-0"></div>	<img src="/images/img-005.jpg">		<hr> <br>
		</div>
		<br><br>
		<div id="top3_post-3">
			<span id="top3_post-head-002">This is Post 000</span><br>
		<div id="top3_post_img-0"></div>	<img src="/images/img-003.jpg">	<hr>	 <br>
		</div>
	</div>

<br><br><br>
	
	
	<div class="post_heads_total">
	<span id="random_post_head">RANDOM POSTS</span> </div>
	<br>
	<div id="random_post">
		<div id="random_post-nav">
			<span id="random_post-nav-head">This is a Random post nav</span><br>
		<div id="random_post_img-nav"></div>	<img id="random_post_nav-img" src="/images/img-008.jpg">	
		<div id="random_nav">
		<button id="random_prev">prev</button>
		<button id="random_next">next</button> <hr>
		</div>	
		<br>
		</div>

		<br><br>
		<div id="random_post-1">
			<span id="random_post-head-000">This is Post 000</span><br>
		<div id="random_post_img-0"></div>	<img src="/images/img-007.jpg">		<hr> <br>
		</div>
		<br><br>
		<div id="random_post_2">
			<span id="random_post_head-001">This is Post 000</span><br>
		<div id="random_post_nav_1"></div>	<img src="/images/img-009.jpg">		<hr> <br>
		</div>
	</div>

	<br><br><br>
	<div id="fun_posts">
	<div class="post_heads_total">	<span id="fun_post_head">Fun posts</span>  </div>
		try out the titles & get amazed
		<ul id="fun_posts_list">
			<ul id="fun_posts_1">post 1 fun post</ul><hr>
			<ul id="fun_posts_2">post 1 fun post</ul><hr>
			<ul id="fun_posts_3">post 1 fun post</ul><hr>
			<ul id="fun_posts_4">post 1 fun post</ul><hr>
			<ul id="fun_posts_5">post 1 fun post</ul><hr>
		</ul>
	</div>


</div>

</body>

<script type="text/javascript">
	$(document).ready(function(){
		alert("Range of post is 000-019 for testing purpose");
		var page_num=1;
	    var new_post_id="img-";
	    var random_post=0;
	    var post_img = "#post_img-";
	    var post_id="#post-00";
	    var prev_page_array = new Array();
	    var total_post=0;
	    var page_visit=0;


//first time visiting the page
	    if(page_visit<1){
	    	page_visit++;
	    	$.get("/page_first_visit")
	    		.done(function(data){
	    			alert("data Loaded, currently in done function of ajax");
			    			
	    			var post_recieved_from_server_0=JSON.stringify(data[0]);
	    			var post_recieved_from_server_1=JSON.stringify(data[1]);
	    			var post_recieved_from_server_2=JSON.stringify(data[2]);
	    			var post_recieved_from_server_3=JSON.stringify(data[3]);
	    			var post_recieved_from_server_4=JSON.stringify(data[4]);
	    			var post_recieved_from_server_5=JSON.stringify(data[5]);
	    			var post_recieved_from_server_6=JSON.stringify(data[6]);
	    			var post_recieved_from_server_7=JSON.stringify(data[7]);
	    			var post_recieved_from_server_8=JSON.stringify(data[8]);
	    			var post_recieved_from_server_9=JSON.stringify(data[9]);
	    			var post_recieved_from_server_10=JSON.stringify(data[10]);
	    			var post_recieved_from_server_11=JSON.stringify(data[11]);
	    			var post_recieved_from_server_12=JSON.stringify(data[12]);
	    			var post_recieved_from_server_13=JSON.stringify(data[13]);
	    			var post_recieved_from_server_14=JSON.stringify(data[14]);
	    			var post_recieved_from_server_15=JSON.stringify(data[15]);


	    			post_recieved_from_server_0=JSON.parse(post_recieved_from_server_0);
	    			post_recieved_from_server_1=JSON.parse(post_recieved_from_server_1);
	    			post_recieved_from_server_2=JSON.parse(post_recieved_from_server_2);
	    			post_recieved_from_server_3=JSON.parse(post_recieved_from_server_3);
	    			post_recieved_from_server_4=JSON.parse(post_recieved_from_server_4);
	    			post_recieved_from_server_5=JSON.parse(post_recieved_from_server_5);
	    			post_recieved_from_server_6=JSON.parse(post_recieved_from_server_6);
	    			post_recieved_from_server_7=JSON.parse(post_recieved_from_server_7);
	    			post_recieved_from_server_8=JSON.parse(post_recieved_from_server_8);
	    			post_recieved_from_server_9=JSON.parse(post_recieved_from_server_9);
	    			post_recieved_from_server_10=JSON.parse(post_recieved_from_server_10);
	    			post_recieved_from_server_11=JSON.parse(post_recieved_from_server_11);
	    			post_recieved_from_server_12=JSON.parse(post_recieved_from_server_12);
	    			post_recieved_from_server_13=JSON.parse(post_recieved_from_server_13);
	    			post_recieved_from_server_14=JSON.parse(post_recieved_from_server_14);
	    			post_recieved_from_server_15=JSON.parse(post_recieved_from_server_15);


	    			// appending values for latest5 posts
	    			//first post
	    			var post_values_to_append = document.getElementById("post-head-000");
					post_values_to_append.innerHTML = post_recieved_from_server_0.post_title;
					post_values_to_append.setAttribute('value', post_recieved_from_server_0._id);
					alert(post_values_to_append.getAttribute('value'));		
					post_values_to_append = document.getElementById("post_likes-1");
					post_values_to_append.innerHTML = post_recieved_from_server_0.post_likes;



					// second post
					post_values_to_append = document.getElementById("post-head-001");
					post_values_to_append.innerHTML = post_recieved_from_server_1.post_title;
					post_values_to_append.setAttribute('value', post_recieved_from_server_1._id);


					// third post
					post_values_to_append = document.getElementById("post-head-002");
					post_values_to_append.innerHTML = post_recieved_from_server_2.post_title;
					post_values_to_append.setAttribute('value', post_recieved_from_server_2._id);


					// fourth post
					post_values_to_append = document.getElementById("post-head-003");
					post_values_to_append.innerHTML = post_recieved_from_server_3.post_title;
					post_values_to_append.setAttribute('value', post_recieved_from_server_3._id);


					// fifth post
					post_values_to_append = document.getElementById("post-head-004");
					post_values_to_append.innerHTML = post_recieved_from_server_4.post_title;
					post_values_to_append.setAttribute('value', post_recieved_from_server_4._id);






					// appending values for top3 posts

					//top - post - 1
					post_values_to_append = document.getElementById("top3_post-head-000");
					post_values_to_append.innerHTML = post_recieved_from_server_5.post_title;
					post_values_to_append.setAttribute('value', post_recieved_from_server_5._id);

					//top - post - 2
					post_values_to_append = document.getElementById("top3_post-head-001");
					post_values_to_append.innerHTML = post_recieved_from_server_6.post_title;
					post_values_to_append.setAttribute('value', post_recieved_from_server_6._id);
					alert(post_values_to_append.getAttribute('value'));		

					//top - post - 3
					post_values_to_append = document.getElementById("top3_post-head-002");
					post_values_to_append.innerHTML = post_recieved_from_server_7.post_title;
					post_values_to_append.setAttribute('value', post_recieved_from_server_7._id);



					// appending values for random posts

					//random-post-nav
					post_values_to_append = document.getElementById("random_post-nav-head");
					post_values_to_append.innerHTML = post_recieved_from_server_8.post_title;	
					post_values_to_append.setAttribute('value', post_recieved_from_server_8._id);
					

					// random-post-1
					post_values_to_append = document.getElementById("random_post-head-000");
					post_values_to_append.innerHTML = post_recieved_from_server_9.post_title;	
					post_values_to_append.setAttribute('value', post_recieved_from_server_9._id);
						

					// random-post-2
					post_values_to_append = document.getElementById("random_post_head-001");
					post_values_to_append.innerHTML = post_recieved_from_server_10.post_title;	
					post_values_to_append.setAttribute('value', post_recieved_from_server_10._id);				


					// apending values for headed posts
					//head-1
					post_values_to_append = document.getElementById("fun_posts_1");
					post_values_to_append.innerHTML = post_recieved_from_server_11.post_title;	
					post_values_to_append.setAttribute('value', post_recieved_from_server_11._id);				


					//head 2
					post_values_to_append = document.getElementById("fun_posts_2");
					post_values_to_append.innerHTML = post_recieved_from_server_12.post_title;	
					post_values_to_append.setAttribute('value', post_recieved_from_server_12._id);			
					alert(post_values_to_append.getAttribute('value'));	


					//head 3
					post_values_to_append = document.getElementById("fun_posts_3");
					post_values_to_append.innerHTML = post_recieved_from_server_13.post_title;	
					post_values_to_append.setAttribute('value', post_recieved_from_server_13._id);				


					//head 4
					post_values_to_append = document.getElementById("fun_posts_4");
					post_values_to_append.innerHTML = post_recieved_from_server_14.post_title;	
					post_values_to_append.setAttribute('value', post_recieved_from_server_14._id);				


					//head 5
					post_values_to_append = document.getElementById("fun_posts_5");
					post_values_to_append.innerHTML = post_recieved_from_server_15.post_title;	
					post_values_to_append.setAttribute('value', post_recieved_from_server_15._id);				
	    			alert("data fetching and parsing done of first 5");

	    		}
	    		);

	    }


	    $("#tweet_button").on("click",function(){
	    	
	    	$.post( "post_tweet" );
	    });


	    $("#random_next").on("click",function(){
	    	$.get("/random_next",function(data){
	    		var data_from_server=JSON.stringify(data);
	    		data_from_server=JSON.parse(data_from_server);

	    		//$("#").val(data_from_server.post_title);


				var change_random_post_head = document.getElementById("random_post-nav-head");
				change_random_post_head.innerHTML = data_from_server.post_title;

	    		alert("data recieved: " + data_from_server.post_title);

	    	});
	    });




	// $("#next_page").on("click", function(){
	// 	page_num++;

	// 	for(var i=0;i<6;i++)
 //    	{	
 //    		total_post++;
 //    		random_post=getRandomInt(000,19); // define the range of the post
    		
 //    		post_img=post_img+i;	//id of image to delete
 //    		post_id=post_id+i;		// id of div in which we append new image


 //    		// generating new id
 //    		if(random_post<10&&random_post>-1){
 //    			new_post_id=new_post_id + "00" + random_post;	
 //    		}
 //    		if(random_post<100&&random_post>9){
 //    			new_post_id=new_post_id + "0" + random_post;
 //    		}
 //    		if(random_post<1000&&random_post>100){
 //    			new_post_id=new_post_id + random_post;
 //    		}

 //    		$(post_id + " img:last-child").remove(); // remove image from DOM
 //    		$(post_id).append("<img src='/images/"+new_post_id+".jpg' />"); // append new image

 //    		alert(new_post_id);
 //    		prev_page_array.push(new_post_id);
 //    		alert(prev_page_array[i]);
 //    		new_post_id="img-";
 //    		post_img="#post-img-";
 //    		post_id="#post-00";
 //    	}

 //    	alert(total_post);

	// });		// next_page click function ends here
	


	 // $("#prev_page").on("click", function(){
		//  	var post_num_min=0;    //post number minimum
	 //     	var post_num_max=9;    //post number maximum
	 //     	var max_post_per_page=10;
	 //     	post_img="#post-img-"; 	// div to append image
	 //     	post_id="#post-00";		// post id
	    	
		//  	if(page_num>1){
		//  		page_num--;
		//  		post_num_min=(page_num-1)*max_post_per_page;
		//  		post_num_max=(page_num+max_post_per_page)-1;

		//  		// append image from array
		//  		for(var i=post_num_min, var j=0; i<=post_num_max, j<10; i++, j++){

		//  			post_id=post_id + j;

		//      		$(post_id + " img:last-child").remove(); // remove image from DOM
		//      		$(post_id).append("<img src='/images/"+prev_page_array[i]+".jpg' />"); // append image from array

		//      		post_id="#post-00";

		//  		}
		//  	}

	 // });		// prev_page click function ends






});		// Document ready function ends here

function getRandomInt (min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
}

    

</script>

</html>

<!-- 
function getRandomInt (min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
} -->





<!-- 
// add
$("#test").append("<img src='...' />")

// remove
$("#test img:last-child").remove() -->

<!-- 
$('div#test').append('<img src=".."/>');
$('div#test > img').remove(); -->