<!doctype html>
<html>

<script type="text/javascript" src="/javascripts/postLoad.js"></script>
<script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery-ui-1.10.4.custom.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
   
<title>
	Gags On Web
</title>
<head>
	<header id="pageHeader	">Gags On Web</header>
</head>

<!-- <body style="background: url('/img/Torres_and_Gerrard_W.jpg')">
 -->
<body>
<div id="postContainer">
	<br><br><br>
	<div id="post-000">
		<span id="post-head-000">This is Post 000</span><br><br>
		<img src="/images/img-000.jpg">		
	</div><hr>
	<br><br><br><br>

	<div id="post-001">
		<span id="post-head-001">This is Post 001</span><br><br>
		<img src="/images/img-001.jpg">		
	</div><hr>
	<br><br><br><br>

	<div id="post-002">
		<span id="post-head-002">This is Post 002</span><br><br>
		<img src="/images/img-002.jpg">		
	</div><hr>
	<br><br><br><br>

	<div id="post-003">
		<span id="post-head-003">This is Post 003</span><br><br>
		<img src="/images/img-003.jpg">		
	</div><hr>
	<br><br><br><br>

	<div id="post-004">
		<span id="post-head-004">This is Post 004</span><br><br>
		<img src="/images/img-004.jpg">		
	</div><hr>
	<br><br><br><br>

	<div id="post-005">
		<span id="post-head-005">This is Post 005</span><br><br>
	</div><hr>
	<br><br><br><br>

	<div id="post-006">
		<span id="post-head-006">This is Post 006</span><br><br>
	</div><hr>
	<br><br><br><br>
	
	<div id="post-007">
		<span id="post-head-007">This is Post 007</span><br><br>
	</div><hr>
	<br><br><br><br>

	<div id="post-008">
		<span id="post-head-008">This is Post 008</span><br><br>
	</div><hr>
	<br><br><br><br>

	<div id="post-009">
		<span id="post-head-009">This is Post 009</span><br><br>
	</div><hr>

</div>

<div id="page_nav">
<span id="prev_page">previous page</span><span id="next_page">next page</span>
</div>

</body>

</html>
