<!doctype html>
<html>

<script type="text/javascript" src="/Scripts/postLoad.js"></script>
<script type="text/javascript" src="/Scripts/jquery-2.1.1.min.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
   
<title>
	Gags On Web
</title>
<head>
	<header id="pageHeader	">Gags On Web</header>
</head>

<!-- <body style="background: url('/img/Torres_and_Gerrard_W.jpg')">
 -->
<body>
<div id="postContainer">
	<br><br><br>
	<div id="post-000">
		<span id="post-head-000">This is Post 000</span>
		<img src="">		
	</div>
	<br><br>

	<div id="post-001">
		<span id="post-head-001">This is Post 001</span>
	</div>
	<br><br>

	<div id="post-002">
		<span id="post-head-002">This is Post 002</span>
	</div>
	<br><br>

	<div id="post-003">
		<span id="post-head-003">This is Post 003</span>
	</div>
	<br><br>

	<div id="post-004">
		<span id="post-head-004">This is Post 004</span>
	</div>
	<br><br>

	<div id="post-005">
		<span id="post-head-005">This is Post 005</span>		
	</div>
	<br><br>

	<div id="post-006">
		<span id="post-head-006">This is Post 006</span>
	</div>
	<br><br>
	
	<div id="post-007">
		<span id="post-head-007">This is Post 007</span>
	</div>
	<br><br>

	<div id="post-008">
		<span id="post-head-008">This is Post 008</span>
	</div>
	<br><br>

	<div id="post-009">
		<span id="post-head-009">This is Post 009</span>
	</div>

</div>

</body>

</html>
