<!doctype html>
<html>

<script type="text/javascript" src="/javascripts/postLoad.js"></script>
<script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery-ui-1.10.4.custom.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
   
<title>
	Gags On Web
</title>
<head>
	<header id="pageHeader	">Gags On Web</header>
</head>

<!-- <body style="background: url('/img/Torres_and_Gerrard_W.jpg')">
 -->
<body>
<div id="postContainer">
	<br><br><br>
	<div id="post-000">
		<span id="post-head-000">This is Post 000</span><br><br>
	<div id="post_img-0"></div>	<img src="/images/img-000.jpg">		
	</div><hr>
	<br><br><br><br>

	<div id="post-001">
		<span id="post-head-001">This is Post 001</span><br><br>
	<div id="post_img-1">	<img src="/images/img-001.jpg"></div>			
	</div><hr>
	<br><br><br><br>

	<div id="post-002">
		<span id="post-head-002">This is Post 002</span><br><br>
	<div id="post_img-2">	<img src="/images/img-002.jpg"></div>		
	</div><hr>
	<br><br><br><br>

	<div id="post-003">
		<span id="post-head-003">This is Post 003</span><br><br>
	<div id="post_img-3">	<img src="/images/img-003.jpg"></div>		
	</div><hr>
	<br><br><br><br>

	<div id="post-004">
		<span id="post-head-004">This is Post 004</span><br><br>
	<div id="post_img-4">	<img src="/images/img-004.jpg"></div>		
	</div><hr>
	<br><br><br><br>

	<div id="post-005">
		<span id="post-head-005">This is Post 005</span><br><br>
	<div id="post_img-5">	<img src="/images/img-005.jpg"></div>		
	</div><hr>
	<br><br><br><br>

	<div id="post-006">
		<span id="post-head-006">This is Post 006</span><br><br>
	<div id="post_img-6">	<img src="/images/img-006.jpg"></div>		
	</div><hr>
	<br><br><br><br>
	
	<div id="post-007">
		<span id="post-head-007">This is Post 007</span><br><br>
	<div id="post_img-7">	<img src="/images/img-007.jpg"></div>		
	</div><hr>
	<br><br><br><br>

	<div id="post-008">
		<span id="post-head-008">This is Post 008</span><br><br>
	<div id="post_img-8">	<img src="/images/img-008.jpg"></div>		
	</div><hr>
	<br><br><br><br>

	<div id="post-009">
		<span id="post-head-009">This is Post 009</span><br><br>
	<div id="post_img-9">	<img src="/images/img-009.jpg"></div>		
	</div><hr>
<div id="page_nav">
<button id="prev_page">Previous Page</button><button id="next_page">Next Page</button>
</div>
</div>


<br><br><br>
<div id="selected_post">
	
</div>

</body>

<script type="text/javascript">
	$(document).ready(function(){
		alert("Range of post is 000-019 for testing purpose");
		var page_num=1;
	    var new_post_id="img-";
	    var random_post=0;
	    var post_img = "#post_img-";
	    var post_id="#post-00";
	    var prev_page_array = new Array();
	    var total_post=0;



	$("#next_page").on("click", function(){
		page_num++;

		for(var i=0;i<10;i++)
    	{	
    		total_post++;
    		random_post=getRandomInt(000,19); // define the range of the post
    		
    		post_img=post_img+i;	//id of image to delete
    		post_id=post_id+i;		// id of div in which we append new image


    		// generating new id
    		if(random_post<10&&random_post>-1){
    			new_post_id=new_post_id + "00" + random_post;	
    		}
    		if(random_post<100&&random_post>9){
    			new_post_id=new_post_id + "0" + random_post;
    		}
    		if(random_post<1000&&random_post>100){
    			new_post_id=new_post_id + random_post;
    		}

    		$(post_id + " img:last-child").remove(); // remove image from DOM
    		$(post_id).append("<img src='/images/"+new_post_id+".jpg' />"); // append new image

    		alert(new_post_id);
    		prev_page_array.push(new_post_id);
    		alert(prev_page_array[i]);
    		new_post_id="img-";
    		post_img="#post-img-";
    		post_id="#post-00";
    	}

    	alert(total_post);

	});		// next_page click function ends here
	


	 // $("#prev_page").on("click", function(){
		//  	var post_num_min=0;    //post number minimum
	 //     	var post_num_max=9;    //post number maximum
	 //     	var max_post_per_page=10;
	 //     	post_img="#post-img-"; 	// div to append image
	 //     	post_id="#post-00";		// post id
	    	
		//  	if(page_num>1){
		//  		page_num--;
		//  		post_num_min=(page_num-1)*max_post_per_page;
		//  		post_num_max=(page_num+max_post_per_page)-1;

		//  		// append image from array
		//  		for(var i=post_num_min, var j=0; i<=post_num_max, j<10; i++, j++){

		//  			post_id=post_id + j;

		//      		$(post_id + " img:last-child").remove(); // remove image from DOM
		//      		$(post_id).append("<img src='/images/"+prev_page_array[i]+".jpg' />"); // append image from array

		//      		post_id="#post-00";

		//  		}
		//  	}

	 // });		// prev_page click function ends






});		// Document ready function ends here

function getRandomInt (min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
}

    

</script>

</html>

<!-- 
function getRandomInt (min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
} -->



<!-- 
// add
$("#test").append("<img src='...' />")

// remove
$("#test img:last-child").remove() -->

<!-- 
$('div#test').append('<img src=".."/>');
$('div#test > img').remove(); -->