<!doctype html>
<html>

<script type="text/javascript" src="/javascripts/postLoad.js"></script>
<script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery-ui-1.10.4.custom.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
   
<title>
	Gags On Web
</title>
<head>
	<header id="pageHeader	">Gags On Web</header>
</head>

<!-- <body style="background: url('/img/Torres_and_Gerrard_W.jpg')">
 -->
<body>
<div id="postContainer">
	<br><br><br>
	<div id="post-000">
		<span id="post-head-000">This is Post 000</span><br><br>
		<img src="/images/img-000.jpg">		
	</div><hr>
	<br><br><br><br>

	<div id="post-001">
		<span id="post-head-001">This is Post 001</span><br><br>
		<img src="/images/img-001.jpg">		
	</div><hr>
	<br><br><br><br>

	<div id="post-002">
		<span id="post-head-002">This is Post 002</span><br><br>
		<img src="/images/img-002.jpg">		
	</div><hr>
	<br><br><br><br>

	<div id="post-003">
		<span id="post-head-003">This is Post 003</span><br><br>
		<img src="/images/img-003.jpg">		
	</div><hr>
	<br><br><br><br>

	<div id="post-004">
		<span id="post-head-004">This is Post 004</span><br><br>
		<img src="/images/img-004.jpg">		
	</div><hr>
	<br><br><br><br>

	<div id="post-005">
		<span id="post-head-005">This is Post 005</span><br><br>
		<img src="/images/img-005.jpg">		
	</div><hr>
	<br><br><br><br>

	<div id="post-006">
		<span id="post-head-006">This is Post 006</span><br><br>
		<img src="/images/img-006.jpg">		
	</div><hr>
	<br><br><br><br>
	
	<div id="post-007">
		<span id="post-head-007">This is Post 007</span><br><br>
		<img src="/images/img-007.jpg">		
	</div><hr>
	<br><br><br><br>

	<div id="post-008">
		<span id="post-head-008">This is Post 008</span><br><br>
		<img src="/images/img-008.jpg">		
	</div><hr>
	<br><br><br><br>

	<div id="post-009">
		<span id="post-head-009">This is Post 009</span><br><br>
		<img src="/images/img-009.jpg">		
	</div><hr>
<div id="page_nav">
<button id="prev_page">Previous Page</button><button id="next_page">Next Page</button>
</div>
</div>


<br><br><br>
<div id="selected_post">
	
</div>

</body>

<script type="text/javascript">
	$(document).ready(function(){
		alert("working");
		console.log("working");
	});


  //   $( document ).ready(function() {
  //   	var page_num = 1;  //current page number
  //   	var post_num_min=0;    //post number minimum
  //   	var post_num_max=9;    //post number maximum
  //   	var max_post_per_page=10;  //max post per page
		// alert("working");    	

  //   	$("#next_page").on("click",function(){
  //       // previous page button    		
  //   		page_num++;
  //   		post_num_min=((page_num-1)*max_post_per_page);
  //   		post_num_max=((page_num*max_post_per_page)-1);
  //   		// append image creating dynamic id
  //           var dynamic_id="img-";

  //           for(var i=post_num_min;i<=post_num_max;i++){
  //               if(post_num_min<10&&post_num_min>-1){
  //                   dynamic_id=dynamic_id+"00"+i;
  //                   // do what you want
  //                   dynamic_id="img-";
  //               }

  //               if(post_num_min<100&&post_num_min>9){
  //                   dynamic_id=dynamic_id+"0"+i;
  //                   // do what you want
  //                   dynamic_id="img-";
  //               }

  //               if(post_num_min<1000&&post_num_min>100){
  //                   dynamic_id=dynamic_id+i;
  //                   // do what you want
  //                   dynamic_id="img-";
  //               }


  //           }
    		
  //   	});
 		

 	// 	$("#prev_page").on("click",function(){
  //   		if(page_num>1){
  //   		page_num--;
  //   		post_num_min=((page_num-1)*max_post_per_page);
  //   		post_num_max=((page_num*max_post_per_page)-1);
  //   		//append image creating dynamic id
  //           var dynamic_id="img-";

  //           for(var i=post_num_min;i<=post_num_max;i++){
  //               if(post_num_min<10&&post_num_min>-1){
  //                   dynamic_id=dynamic_id+"00"+i;
  //                   // do what you want
  //                   dynamic_id="img-";
  //               }

  //               if(post_num_min<100&&post_num_min>9){
  //                   dynamic_id=dynamic_id+"0"+i;
  //                   // do what you want
  //                   dynamic_id="img-";
  //               }

  //               if(post_num_min<1000&&post_num_min>100){
  //                   dynamic_id=dynamic_id+i;
  //                   // do what you want
  //                   dynamic_id="img-";
  //               }


  //   		}

  //   	});

  //   });
 


</script>

</html>


<!-- 
// add
$("#test").append("<img src='...' />")

// remove
$("#test img:last-child").remove() -->

<!-- 
$('div#test').append('<img src=".."/>');
$('div#test > img').remove(); -->