<!doctype html>
<html>

<script type="text/javascript" src="/javascripts/postLoad.js"></script>
<script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery-ui-1.10.4.custom.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
   
<title>
	Gags On Web
</title>
<head>
	<header id="pageHeader	">Gags On Web</header>
</head>

<!-- <body style="background: url('/img/Torres_and_Gerrard_W.jpg')">
 -->
<body>
<div id="postContainer">
	<br><br><br>
	<div id="post-000">
		<span id="post-head-000">This is Post 000</span><br><br>
		<img src="/images/img-000.jpg">		
	</div><hr>
	<br><br><br><br>

	<div id="post-001">
		<span id="post-head-001">This is Post 001</span><br><br>
		<img src="/images/img-001.jpg">		
	</div><hr>
	<br><br><br><br>

	<div id="post-002">
		<span id="post-head-002">This is Post 002</span><br><br>
		<img src="/images/img-002.jpg">		
	</div><hr>
	<br><br><br><br>

	<div id="post-003">
		<span id="post-head-003">This is Post 003</span><br><br>
		<img src="/images/img-003.jpg">		
	</div><hr>
	<br><br><br><br>

	<div id="post-004">
		<span id="post-head-004">This is Post 004</span><br><br>
		<img src="/images/img-004.jpg">		
	</div><hr>
	<br><br><br><br>

	<div id="post-005">
		<span id="post-head-005">This is Post 005</span><br><br>
		<img src="/images/img-005.jpg">		
	</div><hr>
	<br><br><br><br>

	<div id="post-006">
		<span id="post-head-006">This is Post 006</span><br><br>
		<img src="/images/img-006.jpg">		
	</div><hr>
	<br><br><br><br>
	
	<div id="post-007">
		<span id="post-head-007">This is Post 007</span><br><br>
		<img src="/images/img-007.jpg">		
	</div><hr>
	<br><br><br><br>

	<div id="post-008">
		<span id="post-head-008">This is Post 008</span><br><br>
		<img src="/images/img-008.jpg">		
	</div><hr>
	<br><br><br><br>

	<div id="post-009">
		<span id="post-head-009">This is Post 009</span><br><br>
		<img src="/images/img-009.jpg">		
	</div><hr>
<div id="page_nav">
<button id="prev_page">Previous Page</button><button id="next_page">Next Page</button>
</div>
</div>


<br><br><br>
<div id="selected_post">
	
</div>

</body>

<script type="text/javascript">
	$(document).ready(function(){
		alert("working");
		var page_num=1;
	    var post_id="img-";
	    var random_post=0;

	$("#next_page").on("click", function(){
		page_num++;
		var post_num_min=0;    //post number minimum
    	var post_num_max=9;    //post number maximum
    	var max_post_per_page=10;
    	for(var i=0;i<10;i++)
    	{
    		random_post=getRandomInt(000,999);
    		if(random_post<10&&random_post>-1){
    			post_id=post_id + "00" + random_post;
    		}
    		if(random_post<100&&random_post>9){
    			post_id=post_id + "0" + random_post;
    		}
    		if(random_post<1000&&random_post>100){
    			post_id=post_id + random_post;
    		}
    		alert(post_id);
    		post_id="img-";
    	}

	});

	$("#prev_page").on("click", function(){
		if(page_num>1){
			page_num--;
			var post_num_min=0;    //post number minimum
	    	var post_num_max=9;    //post number maximum
	    	var max_post_per_page=10;

	    	for(var i=0;i<10;i++)
	    	{
	    		random_post=getRandomInt(000,999);
	    		if(random_post<10&&random_post>-1){
	    			post_id=post_id + "00" + random_post;
	    		}
	    		if(random_post<100&&random_post>9){
	    			post_id=post_id + "0" + random_post;
	    		}
	    		if(random_post<1000&&random_post>100){
	    			post_id=post_id + random_post;
	    		}
	    		alert(post_id);
	    		post_id="img-";
	    	}
	    }

	});



	});
function getRandomInt (min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
}

    
</script>

</html>

<!-- 
function getRandomInt (min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
} -->



<!-- 
// add
$("#test").append("<img src='...' />")

// remove
$("#test img:last-child").remove() -->

<!-- 
$('div#test').append('<img src=".."/>');
$('div#test > img').remove(); -->