body {
	text-decoration: inline;
	background-color: black;
	width: 80%;
	margin: auto;
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#postContainer{
	width: 60%;
	float: left;
}
#prominent_post{
	text-align: center;
	border-radius: 10px;
	height: auto;
	width: 30%;
	float: right;
	font-size: 20px;

}
#random_prev{
float: left;
}
#random_next{
float: right;
}

#top3_post_head,#random_post_head{
	color:rgb(216, 37, 37);
	font-size: 35px;
	text-align: center;
	background-color: yellow;
}

#top3_post{
	text-align: center;
	color:white;
}

#top3_post img{
	width: 100%;
	border-radius: 10px;
}


#random_post{
	text-align: center;
	color:white;
}

#random_post img{
	width: 100%;
	border-radius: 10px;

}

header {
	color:rgb(216, 37, 37);
	text-align: center;
	font-size: 100px;
}


#post-000,#post-001,#post-002,#post-003,#post-004,#post-005,#post-006,#post-007,#post-008,#post-009{
	border-radius: 15px;
	background-color: rgb(216, 37, 37);
	text-align: center;
	color: white;
}

#top3_post-2,#top3_post-1,#top3_post-3,#random_post-nav,#random_post-1,#random_post_2{
background-color: rgb(216, 37, 37);
border-radius: 15px;
}

#post-000 img,#post-001 img,#post-002 img,#post-003 img,#post-004 img,#post-005 img ,#post-006 img,#post-007 img,#post-008 img,#post-009 img{
max-height: 800px;
max-width: 600px;
border-radius: 10px;
}

#post-head-000,#post-head-001,#post-head-002,#post-head-003,#post-head-004,#post-head-005,#post-head-006,#post-head-007,#post-head-008,#post-head-009{
background-color: rgb(216, 37, 37);
height: auto;
font-size: 50px;
text-align: center;
}

#page_nav{
	margin: auto;
	width: 50%;
}
#prev_page{
	float: left;
}
#next_page{
	float: right;
}


a {
  color: #00B7FF;
}